name: build

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1

    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8

    - name: deploy
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        mvn -s settings.xml deploy

    - name: codecov
      uses: codecov/codecov-action@v1.0.5
      with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true
